{% extends 'base.html.twig' %}

{% block title %}perfectMaze !{% endblock %}

{% block body %}

    <table data-width="{{ width }}" data-height="{{ height }}" cellspacing="0">

    </table>

{% endblock %}